/*
 Main page styles
 */
#flotTip{
   background-color: #2b3d51!important;
}
.icon-linx:before{
   content: url("/assets/images/favicon.ico");
}
.err{
   display: none;
}
.preFlag{
   display: inline-block;
}
.flag{
   display: inline-block;
   width: 20px;
}

.flag-ru:before{
   content: url("/assets/images/Flags-01.svg");
}

.flag-en:before{
   content: url("/assets/images/Flags-02.svg");
}

.languageSelect{
   border-radius: 0.25rem 0.25rem 0 0;
   background-color: #0D9ED6;
   color: #FFF;
   margin: -6px -1px 0px -1px;
   width: auto;
   padding: 12px 20px;
}
.languageSelect:hover{
   background-color: #0D9ED6;
   color: #FFF;
}

#sidebar-menu ul .has_sub a:hover{
   color: #F2309D !important;
}

.menuOpen{

}

.menuOpen .menu-arrow{
   -ms-transform: rotate(90deg) !important;
   -webkit-transform: rotate(90deg) !important;
   -o-transform: rotate(90deg) !important;
   transform: rotate(90deg) !important;
}

.coll{
   padding-bottom: 20px;
}

.coll .card-box{
   padding-bottom: 0px;
   height: 100%;
}

.hideShow{
   font-size: 16px;

}
